* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	text-align: center;
}

p {
	line-height: 1.8;
}

/* CAARITO DE COMPRAS */

#boton-carrito {
	border: none;
	color: #0d2033;
	font-size: 30px;
	background-color: white;
	border-radius: 50%;
	padding: 10px 15px;
	transition: all .3s;
}

#boton-carrito:hover {
	cursor: pointer;
	color: white;
	background-color: #0d2033;
}

#boton-carrito:focus {
	outline: none;
}

#contenedor-productos {
	max-width: 1200px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #fff
}

.producto {
	max-width: 30%;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.precioProducto {
	font-weight: 700;
}

.boton-agregar {
	background-color: #0d2033;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding: 15px;
	border-radius: 50px;
}

.boton-agregar:hover {
    background: #0d2033;
    box-shadow: 0 0 10px #0d2033, 0 0 40px #0d2033, 0 0 80px #0d2033;
    transition-delay: 0s;
    color: white;
}

.boton-agregar:hover {
	cursor: pointer;
}

.boton-agregar:focus {
	outline: none;
}

/* MODAL */
.modal-contenedor {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	opacity: 0;
	visibility: hidden;
}

.modal-active {
	opacity: 1;
	visibility: visible;
}

.modal-carrito {
	position: relative;
	background-color: white;
	min-width: 500px;
	padding: 20px;
	margin-top: -100%;
	transition: all .5s;
}

.modal-active .modal-carrito {
	margin-top: 0;
}

.modal-carrito h3 {
	color: #0d2033;
	padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	color: red;
	border: none;
	background-color: white;
}

.modal-carrito #carritoCerrar:hover {
	cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
	outline: none;
}

.modal-carrito .precioProducto {
	padding-top: 10px;

}

.productoEnCarrito {
	border-left: 5px solid lightblue;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	margin: 5px 0;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
}

.productoEnCarrito:hover {
	border-left: 5px solid #0d2033;
}

.boton-eliminar {
	background-color: white;
	color: red;
	border: none;
	font-size: 20px;
}

.boton-eliminar:hover {
	cursor: pointer;
}

.boton-eliminar:focus {
	outline: none;
}

.imagenproductos {
	width: 400px;
	height: 400px;
	object-fit: contain;
	margin-top: 1rem;
}

.card {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}


/* TESTIMONIOS */
.testimonios_contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	font-family: 'Dosis', sans-serif;
}

.testimonios_caja {
	width: 500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}

.perfil-img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	margin-right: 30px;
}

.perfil-img img {
	width: 100%;
	height: 100%;
	object-fit: center;
}

.perfil {
	display: flex;
	align-items: center;
}

.name-user {
	display: flex;
	flex-direction: column;
}

.name-user strong {
	color: #3d3d3d;
	font-size: 1.3rem
}

.name-user span {
	color: #979797;
	font-size: 1.1rem;
}

.resenas {
	color: #f9d71c;
}

.caja-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.comentarios_clientes p {
	color: #4b4b4b;
}

::selection {
	color: white;
	background-color: #252525;
}

/* NEWSLATTER */
.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.hero {
	height: 100vh;
	width: 100%;
	background-image: url(./imagenes/2067364\ \(1\).jpg);
	background-size: cover;
	background-position: center;
}

.titulo-new {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.titulo-principal {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

.span-new {
	color: #f9004d;
}

/* FOOTER */
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
    font-family: 'Vollkorn', serif;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.pie-pagina .grupo-1 .box .figura img {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0d2033;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.text {
    text-align: center;
}

.hfooteer {
    text-align: center;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }

    .hfooter {
        display: flex;
        justify-content: center;
    }

    .red-social {
        display: flex;
        justify-content: center;
    }

    .figura {
        display: flex;
        justify-content: center;
    }

    .mapa {
        display: flex;
        justify-content: center;
    }

    .text {
        text-align: center;
    }
}

.info-contacto a {
    display: flex;
    align-items: center;
}

.menu {
    background: #f0f0f0;
    padding: 40px 20px;
}

.menu section article .olproductos {
    padding: 5px;
    max-width: 100%;
    flex: 100%;
    text-align: start;
    font-size: 18px;
}

.menu section article .olproductos .texto-productos {
    padding: 5px;
    margin: 10px;
    height: 100%;
    width: 100%;
}

/* BARRA DE NAVEGACION */
.logo {
	width: 130px;
	height: 100px;
}

ul>li>a {
    color: white;
    transition: all 300ms ease;
    font-size: 34px;
}

ul>li>a:hover {
    box-shadow: 0 0 10px #427AC4, 0 0 40px #427AC4, 0 0 80px #427AC4;
    transition-delay: 0s;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Vollkorn', serif;
}

.header {
    background-color: #0d2033;
    font-family: 'Vollkorn', serif;
}

.btn:hover {
    background: #0d2033;
    box-shadow: 0 0 10px #0d2033, 0 0 40px #0d2033, 0 0 80px #0d2033;
    transition-delay: 0s;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
	font-size: 25px;
	padding: 20px;
	font-weight: 800;
	font-family: 'Kanit', sans-serif;
}

/* CONTACTANOS */
.container-contacto {
    width: 100%;
    margin-top: 80px;
}

.content-contacto {
    width: 100%;
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    color: #434343;
}

.content-contacto h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.info-contacto p {
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 35px;
}

.info-contacto a {
    text-decoration: none;
    color: #434343;
    margin-bottom: 20px;
    font-size: 17px;
}

.info-contacto a i {
    display: inline-block;
    width: 28px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    color: #096aed;
    margin-right: 15px;
}

.formulario .campo {
    width: 100%;
    padding: 13px 15px;
    font-size: 16px;
    margin-bottom: 13px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    outline: 0px;
}

.formulario .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
}

.formulario textarea {
    max-height: 150px;
    min-height: 150px;
}

@media screen and (max-width: 900px) {
    .content-contacto {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .formulario .box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }

    .formulario textarea {
        max-height: 120px;
        min-height: 120px;
    }
}

.btn {
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    background-color: #0d2033;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #0d2033;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
}

.opacity{
	opacity: 0.6;
}
