* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
}

body {
	font-size: 14px;
	text-align: center;
}

p {
	line-height: 1.8;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #0d2033;
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.logo {
	width: 130px;
	height: 80px;

}

#boton-carrito {
	border: none;
	color: royalblue;
	font-size: 30px;
	background-color: white;
	border-radius: 50%;
	padding: 10px 15px;
	transition: all .3s;
}

#boton-carrito:hover {
	cursor: pointer;
	color: white;
	background-color: royalblue;
}

#boton-carrito:focus {
	outline: none;
}

#contenedor-productos {
	max-width: 1200px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.producto {
	max-width: 30%;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.precioProducto {
	font-weight: 700;
}

.boton-agregar {
	background-color: rgb(255, 6, 6);
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding: 15px;
	border: none;
}

.boton-agregar:hover {
	cursor: pointer;
}

.boton-agregar:focus {
	outline: none;
}

.boton-finalizar {
	background-color: blue;
	color: white;
	font-size: 18px;
	font-weight: 1000;
	padding: 15px;
	border: none;
}

.boton-finalizar:hover {
	cursor: pointer;
}

.boton-finalizar:focus {
	outline: none;
}

/* MODAL */
.modal-contenedor {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	opacity: 0;
	visibility: hidden;
}

.modal-active {
	opacity: 1;
	visibility: visible;
}

.modal-carrito {
	position: relative;
	background-color: white;
	min-width: 500px;
	padding: 20px;
	margin-top: -100%;
	transition: all .5s;
}

.modal-active .modal-carrito {
	margin-top: 0;
}

.modal-carrito h3 {
	color: royalblue;
	padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	color: red;
	border: none;
	background-color: white;
}

.modal-carrito #carritoCerrar:hover {
	cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
	outline: none;
}

.modal-carrito .precioProducto {
	padding-top: 10px;

}

.productoEnCarrito {
	border-left: 5px solid lightblue;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	margin: 5px 0;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
}

.productoEnCarrito:hover {
	border-left: 5px solid royalblue;
}

.boton-eliminar {
	background-color: white;
	color: red;
	border: none;
	font-size: 20px;
}

.boton-eliminar:hover {
	cursor: pointer;
}

.boton-eliminar:focus {
	outline: none;
}



.container {
	max-width: 1100px;
	padding: 0 20px;
	margin: auto;
}

.container-logo {
	display: flex;
	align-items: center;
}

.container-logo i {
	color: #088e49;
	font-size: 50px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 20px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 20px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover {
	color: #088e49;
}

.busqueda {
	background: #fff;
	padding: 10px;
	border-radius: 50px;
}

.busqueda i {
	margin-left: 10px;
}

.busqueda input {
	border: none;
	outline: none;
}

.caja {
	margin: 1.5rem;
	padding: 0rem;
	display: inline-block;
}

.imagenproductos {
	width: 400px;
	height: 400px;
	object-fit: contain;
	margin-top: 1rem;
}

.colorbotoncarrito {
	color: white;
	background-color: blue;
	text-align: center;
}

.colorBotonEliminar {
	color: white;
	background-color: red;
}

.colorBoton:hover {
	background-color: blue;
	color: white;
}

.card {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

/* BARRA NAVEGACION */

.grupo {
	display: flex;
	align-items: center;
}

header ul {
	position: relative;
	display: flex;
	gap: 40px;
}

header ul li {
	list-style: none
}

header ul li a {
	position: relative;
	text-decoration: none;
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header ul li a::before {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: white;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
}

header ul li a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

header .buscar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	z-index: 10;
	cursor: pointer;
}

.buscarBtn {
	position: relative;
	left: 30px;
	top: 2.5px;
	transition: 0.5s ease-in-out;
}

.buscarBtn.active {
	left: 0;
}

.cerrarBtn {
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
	scale: 0;
}

.cerrarBtn.active {
	opacity: 1;
	visibility: visible;
	transition: 0.5s;
	scale: 1;
}

.menuToggle {
	position: relative;
	display: none;
}

@media (max-width: 800px) {
	.buscarBtn {
		left: 0;
	}

	.menuToggle {
		position: absolute;
		display: block;
		font-size: 2em;
		cursor: pointer;
		transform: translateX(30px);
		z-index: 10;
	}

	header .navegacion {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 100%;
	}

	header.open .navegacion {
		top: 80px;
		opacity: 1;
		visibility: visible;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #fff;
		width: 100%;
		height: calc(100vh - 80px);
		padding: 40px;
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}

	header.open .navegacion li a {
		font-size: 1.25em;
	}
}


/* TESTIMONIOS */
.testimonios {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-image: url(/img/img8.jpg);
	color: white;
}

.testimonios_contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.testimonios_caja {
	width: 500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}

.perfil-img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	margin-right: 30px;
}

.perfil-img img {
	width: 100%;
	height: 100%;
	object-fit: center;
}

.perfil {
	display: flex;
	align-items: center;
}

.name-user {
	display: flex;
	flex-direction: column;
}

.name-user strong {
	color: #3d3d3d;
	font-size: 1.3rem
}

.name-user span {
	color: #979797;
	font-size: 1.1rem;
}

.resenas {
	color: #f9d71c;
}

.caja-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.comentarios_clientes p {
	color: #4b4b4b;
}

::selection {
	color: white;
	background-color: #252525;
}

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.hero {
	height: 100vh;
	width: 100%;
	background-image: url(./imagenes/2067364\ \(1\).jpg);
	background-size: cover;
	background-position: center;
}

.titulo-new {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

.titulo-principal {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

.span-new {
	color: #f9004d;
}

/* FOOTER */
.pie-pagina {
	width: 100%;
	background-color: #0a141d;
}

.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0;
}

.pie-pagina .grupo-1 .box .figura img {
	width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
	color: #efefef;
	margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 55px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color: #0d2033;
	transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
	color: aqua;
}

.pie-pagina .grupo-2 {
	background-color: #0d2033;
	padding: 10px;
	color: #fff;
}

.pie-pagina .grupo-2 small {
	font-size: 15px;
}

@media (max-width: 952px) {
	.enlace {
		padding-left: 20px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	.pie-pagina .grupo-1 {
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0;
	}

	.hfooter {
		display: flex;
		justify-content: center;
		text-decoration: none;
	}

	.red-social {
		display: flex;
		justify-content: center;
	}

	.figura {
		display: flex;
		justify-content: center;
	}

	.mapa {
		display: flex;
		justify-content: center;
	}

	.text {
		text-align: center;
	}
}